@model IEnumerable<ReserveIt.Models.Hotel>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Firstname) @Html.DisplayFor(modelItem => item.Manager.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HotelID }) |
                @Html.ActionLink("Details", "Details", new { id = item.HotelID }) |
                @Html.ActionLink("Rooms", "Index", "Rooms", new { hotelID = item.HotelID }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HotelID })
            </td>
        </tr>
    }
</table>