@model ReserveIt.Models.ReservationSearchData
@{
    ViewBag.Title = "Confirm Reservation";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <div class="jumbotron">
        <h1 class="display-4">Confirm your Booking</h1>
        <p class="lead">Please review your booking to ensure all details are accurate</p>
        <hr class="my-4">
        <p>
            Hotel Address: @Model.HotelStreetAddress, @Model.HotelCityAddress, @Model.HotelStateAddress
            <br />
            Check In Date: @Model.Dates.CheckIn.ToShortDateString()
            <br />
            Check Out Date: @Model.Dates.CheckOut.ToShortDateString()
            <br />
            Number of nights: @((Model.Dates.CheckOut - Model.Dates.CheckIn).Days)
        </p>
        <div class="row">
            @Html.ActionLink("Confirm", "SubmitReservation", "Reservation", null, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Cancel", "CancelReservation", "Reservation", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</body>