@model ReserveIt.Models.ReservationSearchData

@{
    ViewBag.Title = "GetDateAndTime";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script type="text/javascript">
    function checkInChosen(e) {
        Date.prototype.yyyymmdd = function () {
            var mm = this.getMonth() + 1; // getMonth() is zero-based
            var dd = this.getDate();

            return [this.getFullYear(),
                "-",
            (mm > 9 ? '' : '0') + mm,
                "-",
            (dd > 9 ? '' : '0') + dd
            ].join('');
        };

        var CheckInDate = document.forms["reservationForm"]["startDate"].value;
        var date = new Date(CheckInDate);

        date.setDate(date.getDate() + 2);
        document.getElementById("endDate").min = date.yyyymmdd();
    }
</script>

<body>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Hotel Details - @Model.HotelStreetAddress, @Model.HotelCityAddress</h1>
    </div>
    @using (Html.BeginForm("SelectRoomType", "Reservation", FormMethod.Post, new { name = "reservationForm" }))
    {
        @Html.HiddenFor(model => model.HotelID)
        @Html.HiddenFor(model => model.HotelStreetAddress)
        @Html.HiddenFor(model => model.HotelCityAddress)
        <table>
            <tr>
                <td style="padding-right: 15px;">
                    @Html.LabelFor(model => model.Dates.CheckIn)
                    @Html.EditorFor(model => model.Dates.CheckIn, new { htmlAttributes = new { @id = "startDate", @name = "startDate", @onchange = "checkInChosen(event);" } })
                </td>
                <td style="padding-right: 15px;">
                    @Html.LabelFor(model => model.Dates.CheckOut)
                    @Html.EditorFor(model => model.Dates.CheckOut, new { htmlAttributes = new { @id = "endDate", @name = "endDate" } })
                </td>
                <td>
                    <input type="submit" name="submit" value="Search" class="btn btn-success">
                </td>
            </tr>
        </table>
    }
</body>