@model ReserveIt.Models.User

@{
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this user?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserLevel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserLevel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Middlename)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Middlename)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StreetAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CityAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CityAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StateAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StateAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ZIPAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ZIPAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "UserManagement", "Admin")
            </div>
        }
    </div>
</body>
</html>
