@model IEnumerable<ReserveIt.Models.Room>

@{
    ReserveIt.Models.Hotel hotel = (ReserveIt.Models.Hotel)TempData["Hotel"];
    ViewBag.Title = "Rooms at " + hotel.StreetAddress;
    TempData.Clear();
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<br />
<h4>@ViewBag.Title</h4>
<br />

<p>
    @Html.ActionLink("Add New", "Create", "Rooms", new { id = hotel.HotelID }, new { @class = "btn btn-primary", @style = "margin-left: 15px;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType.RoomTypeDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomID })
            </td>
        </tr>
    }

</table>
