@model IEnumerable<ReserveIt.Models.Manager>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", @style = "margin-left: 15px;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ManagerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ManagerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ManagerID })
            </td>
        </tr>
    }

</table>