@model ReserveIt.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<div>
    <br />
    <h4>Reservation Details of ID: @Model.ReservationID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hotel Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Hotel.StreetAddress), @Html.DisplayFor(model => model.Room.Hotel.CityAddress), @Html.DisplayFor(model => model.Room.Hotel.StateAddress)
        </dd>

        <dt>
            Check In Date
        </dt>

        <dd>
            @Model.CheckIn.ToShortDateString()
        </dd>

        <dt>
            Length of Stay
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StayLength) nights
        </dd>

        <dt>
            Nightly Rate
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.NightlyRate)
        </dd>

        <dt>
            Discount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "ReservationManagement", "Admin", null, new { @class = "btn btn-secondary" })
</p>
